<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="log-in"></ion-icon>
            Sign In
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <form #loginForm="ngForm" novalidate>
            <ion-item>
                <ion-input placeholder="*Email" [(ngModel)]="user.email" name="email" type="email" #email="ngModel"
                           pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}' required>
                </ion-input>
            </ion-item>

            <div *ngIf="(submitted || email.touched) && !email.valid" padding-left>
                <p *ngIf="email.model === ''" color="danger">
                    Email is required.
                </p>

                <p *ngIf="email.model !== '' && !email.valid" color="danger">
                    Enter valid email address.
                </p>
            </div>

            <ion-item>
                <ion-input placeholder="*Password" [(ngModel)]="user.password" name="password" type="password"
                           #password="ngModel" required>
                </ion-input>
            </ion-item>

            <div *ngIf="(submitted || password.touched) && !password.valid" padding-left>
                <p *ngIf="!password.valid" color="danger">
                    Password is required.
                </p>
            </div>

            <ion-row responsive-sm>
                <ion-col>
                    <button ion-button (click)="fnSignIn(loginForm)" type="submit" color="primary" block>Sign In
                    </button>
                </ion-col>
            </ion-row>
        </form>
    </ion-list>

</ion-content>
